#about {
  min-height: 500px;
}

.grid-ish {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.grid-ish > * {
  flex: 1 1 14em;
}

.icon {
  font-size: 20px;
}
/* wave */
.section-donate {
  background-color: var(--clr-light-blue);
}

.shape-top,
.section-donate .shape-bottom {
  transform: rotate(180deg);
}

.section-donate .shape-bottom .shape-fill {
  fill: var(--clr-light-brown);
}
